.Panel{
	position:absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	height:100%;
	overflow: auto;
}
.PanelTitle {
		position:absolute;
	font-family: "微软雅黑";
	font-weight: bold ;
	font-size: 18px;
	border-style: none;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #00c1de;
	padding-left: 4px;
	left: 20px;
	top: 1px;
	right: 40px;
	height: 30px;
	overflow: auto;
	
}

.PanelTitleLine {
		position:absolute;
	left: 20px;
	top: 40px;
	right: 20px;
	height: 1px;
	overflow: auto;
	background-color: #c0c0c0;
}

.PanelContent {
	position:absolute;
	display:block;
	left: 20px;
	top: 44px;
	right: 20px;
	bottom: 20px;
	overflow: auto;
}

.NormalTitle {
	font-family: "微软雅黑";
	font-weight: bold;
	font-size: 16px;
}

.DataPanelTitle {
	  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fff;
  height: 54px;
	 margin-left:10px;
}
.DataTitle{   
	line-height: 54px;
    font-weight: 600;
    padding: 0 15px;
    font-size: 14px;
}
.top-line{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}
.top-line > .top-left{
  width: 200px;
  height: 50px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.chartitempaneldiv{
width: calc((100% - 20px) / 2);
    margin-left: 10px;
    margin-top: 10px;
        max-width: 751px;
    height: 294px;
    background-color: white;	
}
.chartitem-title{
border-bottom: 1px solid #f0f0f0;  font-weight: bold;
  height:40px;
  line-height:40px;
  padding:0px 20px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between
}
.cus_btn{
border-style: solid;width:30px;height:30px;font-size:12px;  font-weight: normal;
border-width: 1px;border-color: #e1e1e1;color:#666666;text-align:center;line-height:30px;

 }
 .cus_btn_select{
 border-style: solid;width:30px;height:30px;font-size:12px;text-align:center;line-height:30px;
 border-width: 1px;border-color: #00c1de;  font-weight: normal;
 background-color:#00c1de;
 color:#ffffff;
 }
 .caret_2{

width:23px;height:10px;
   background: url("images/down.png") no-repeat scroll left center transparent;
   
 }
 .cus_select{
 border-style: solid;padding-left:15px;padding-right:2px;height:40px;
 border-width: 1px;border-color: #e1e1e1;
 background-color:#ffffff;border-radius:0px;
 color:#666666;
      -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
 }
.cus_select:focus{
 border-style: solid;padding-left:15px;padding-right:2px;
 border-width: 1px;border-color: #00c1de;
 background-color:#ffffff;border-radius:0px;
 color:#666666;
      -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
 }
 .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus,  .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus {
 border-style: solid;
 border-width: 1px;border-color: #00c1de;
 background-color:#ffffff;border-radius:0px;
 color:#666666;
     -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    }
.btn-group.open .dropdown-toggle  {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
}   
.btn-group.dropdown-toggle:mousedown  {
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
} 
select{
 border-style: solid;
 border-width: 1px;border-color: #e1e1e1;
 background-color:#ffffff;border-radius:0px;
 color:#666666;
      -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
       appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   background-color: #fff;
   /*设置箭头*/
background: url("images/down.png") no-repeat scroll calc(100% - 10px) center transparent;
   padding-left: 14px;	
} 
select::-ms-expand { display: none; }

select:hover,select:focus{
 border-style: solid;
 border-width: 1px;border-color: #00c1de;
 background-color:#ffffff;border-radius:0px;
 color:#666666;
     -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);	
}
 .cus_h_space{
 height:10px;
 }
 .cus_w_space{
 width:3px;
 }
 .tree-title {
 color:#606266;
 font-weight:500;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    padding-left:10px;
    height: 18px;
    line-height: 18px;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #e1e1e1;
}
.tree-collapsed {
    background: url(images/plus_+.png) no-repeat 0px 0px;
     width: 18px;    background-position-y: 2.5px;
}
.tree-expanded {
    background: url(images/plus_-.png) no-repeat 0px 0px;
     width: 18px;    background-position-y: 2.5px;
}
.tree-expanded,
.tree-collapsed,
.tree-folder,
.tree-file,
.tree-checkbox  {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: top;
  overflow: hidden;
}
.tree-indent {
  display: inline-block;
  width: 40px;
  height: 18px;
  vertical-align: top;
  overflow: hidden;
}
 .tree-checkbox,.tree-checkbox1{
   width: 18px;
 }
.tree-expanded-hover {
  background: url('images/plus_-.png') no-repeat 0px 0px;
    width: 18px;    background-position-y: 2.5px;
}
 
.tree-collapsed-hover {
  background: url('images/plus_+.png') no-repeat 0px 0px;
    width: 18px;    background-position-y: 2.5px;
}
.tree-checkbox0 {
  background: url('images/uncheck.png') no-repeat 0px 0px;
       background-position-y: 2.5px;
}
.tree-checkbox1 {
  background: url('images/check.png') no-repeat 0px 0px;    background-position-y: 2.5px;
}
.tree-checkbox0:hover {
  background: url('images/checkfous.png') no-repeat 0px 0px;    background-position-y: 2.5px;
}
.tree-checkbox2 {
  background: url('images/uncheck.png') no-repeat 0px 0px;    background-position-y: 2.5px;
}
.addbtn{
	 background: url('images/add.png') no-repeat 0px 0px;width:16px;height:16px;
}
.delbtn{
	 background: url('images/del.png') no-repeat 0px 0px;width:16px;height:16px;
}
.removebtn{
	 background: url('images/error.png') no-repeat 0px 0px;width:16px;height:16px;
}
.editbtn{
	 background: url('images/edit.png') no-repeat 0px 0px;width:16px;height:16px;
}
.dropdown-menu {
     border-radius: 0px; 
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
   box-shadow: 0 0px 0px rgba(0,0,0,.175); 
}
.tree-node-selected {
    background: transparent;
    color: #fff;
}
.addresstreetitle {
  font-family: "MicrosoftYaHei";
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-align: center;
  color: #333333;
}
table.dataTable thead th, table.dataTable thead td{
	padding-left:10px;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: white;
    height:40px;color:#666666;font-size:14px;
}
 
table.dataTable tbody tr {
    background-color: #f8f8f8;
       height:40px;color:#505050;font-size:14px;
}
.table-bordered>thead>tr>th{
border:0px;
}
.table-bordered>tbody>tr>td{
border:0px;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;
}
.table{
border:0px;
}
.form-line-new {
  display: flex;
  margin: 15px 0px;
}
.form-line-new div.select-title {
  width: 58px;
  line-height: 40px;
}
.form-line-new-div{
	display:flex;align-items:center;justify-content:flex-start;
	padding-left:5px;
}
.form-line-new-div input {
  height: 40px;
  margin-left: 16px;
  padding: 4px 15px;
  font-size: 14px;
  width: 365px;
  border: 1px solid #fff;
  outline: none;
  padding: 0px 12px;
	background-color: #F8F8F8;
	border-radius: 0 !important;
	background-clip: padding-box !important;
	transition: box-shadow .45s, border-color .45s ease-in-out;
	box-shadow: none;
	font-family: inherit;
}
.form-line-new-div input:focus {
   border: 1px solid #00c1de;
     -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
	
}
.form-line select,.form-line-new-div select{
	      -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.125);
       appearance:none;
   -moz-appearance:none;
   -webkit-appearance:none;
   background-color: #fff;
   /*设置箭头*/
   /*background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAJCAYAAAAGuM1UAAAAH0lEQVR42mNgoDnQ13f7TwiTpIkkm0hyHkl+YhhQAABcfyjsqSyTLgAAAABJRU5ErkJggg==") no-repeat scroll calc(100% - 10px) center transparent;*/
   background: url("images/down.png") no-repeat scroll calc(100% - 10px) center transparent;
   padding-left: 14px;
}
.form-line-new-div select{
		  
  margin-left: 16px;
  padding: 4px 15px;
  font-size: 14px;
  width: 365px;
  border: 1px solid #fff;
  outline: none;
  padding: 0px 12px;
	background-color: #F8F8F8;
 
}
.modal-content {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5);
    box-shadow: 0 0px 0px rgba(0,0,0,.5);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
        background-color: #000;
    background: rgba(0,0,0,0.5);
}
.theme-green .back-bar .pointer-label {
    color: #666666;
    font-size:12px;
}
.theme-green .scale ins {
    color: #666666;font-size:12px;
}