<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
 <!--[if lt IE 9]> 
<script src="js/html5shiv.min.js"></script>
<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"	name="viewport" />
<title th:text="#{system.systemname}"></title>
<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />
<link rel="stylesheet" th:href="@{/js/easyui/themes/bootstrap/easyui.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}" />
<link rel="stylesheet" th:href="@{/js/JQueryUi/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/fonts/css/font-awesome.min.css}" />
<link rel="stylesheet" th:href="@{/css/DataRoom.css}" />
<link rel="stylesheet" th:href="@{/css/base.css}" />

<link rel="stylesheet" th:href="@{/css/dark-skins.css}" />
<style th:inline="text">
 .chartitem{
 display:inline-block;
 width:300px;
 height:300px;
 }
 .icon-add {
    display: inline-block;
    width: 12px;
    height: 1px;
    background: #fff;
    margin-bottom: 5px;
}

.icon-add:after {
    display: block;
    width: 12px;
    height: 1px;
    background: #fff;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    content: "";
}



 </style>
<script th:src="@{/js/jquery-1.12.4.min.js}" type="text/javascript"></script>
<script th:src="@{/js/JQueryUi/jquery-ui.min.js}"></script>
<script th:src="@{/js/easyui/jquery.easyui.min.js}"></script>	
<script th:src="@{/js/moment.js}"></script>
<script  th:src="@{/js/daterangepicker.js}"></script>
<script  th:src="@{/js/bootstrap.min.js}"></script>
<script  th:src="@{/js/DataRoomService.js}" type="text/javascript"></script>
<script type="text/javascript"  th:src="@{/js/jquery.dataTables.js}"></script>
<script type="text/javascript"  th:src="@{/js/DataRoomComm.js}"></script>

<script  th:src="@{/js/echarts.min.js}" type="text/javascript"></script>
<script  th:src="@{/js/theme/shine.js}" type="text/javascript"></script>
<script type="text/javascript"  th:src="@{/js/compent/DataRoomAddressTree.js}"></script>
<script th:inline="javascript" type="text/javascript">
/*<![CDATA[*/
	var targetoption={
			"sScrollX":"auto",
			"sScrollY":"auto",
			"bScrollInfinite":false,
			"bScrollCollapse": true, 
			"bPaginate" : false, // 翻页功能
			"bStateSave" : false, // 状态保存
			"bLengthChange" : false, // 改变每页显示数据数量
			"bFilter" : false, // 过滤功能
			"bSort" : false, // 排序功能
			"bInfo" : false, // 页脚信息
			"bAutoWidth" : true,// 自动宽度
			"searching": false,
			"bDestroy" : true,
			"oLanguage": {
			"sProcessing": "正在加载中......",
			"sLengthMenu": "每页显示 _MENU_ 条记录",
			"sZeroRecords": "对不起，查询不到相关数据！",
			"sEmptyTable": "暂无数据！",
			"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
			"sInfoFiltered": "数据表中共为 _MAX_ 条记录",
			"sSearch": "搜索"
			}, "columns" :null,
			"columnDefs": [{targets:[null]}]
			};
	var parmoption={
			"sScrollX":"auto",
			"sScrollY":"auto",
			"bScrollInfinite":false,
			"bScrollCollapse": true, 
			"bPaginate" : false, // 翻页功能
			"bStateSave" : false, // 状态保存
			"bLengthChange" : false, // 改变每页显示数据数量
			"bFilter" : false, // 过滤功能
			"bSort" : false, // 排序功能
			"bInfo" : false, // 页脚信息
			"bAutoWidth" : true,// 自动宽度
			"searching": false,
			"bDestroy" : true,
			"oLanguage": {
			"sProcessing": "正在加载中......",
			"sLengthMenu": "每页显示 _MENU_ 条记录",
			"sZeroRecords": "对不起，查询不到相关数据！",
			"sEmptyTable": "暂无数据！",
			"sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
			"sInfoFiltered": "数据表中共为 _MAX_ 条记录",
			"sSearch": "搜索"
			}, "columns" :null,
			"columnDefs": [{targets:[null]}]

			};
	var targetcloumn=[{data:"rownum"},{data:"targetname"},{data:"note"},{data:"designvalue"},{data:"targetedvalue"},{data:"formula"},{data:"operation","render": function ( data, type, full, meta ){
		return "<div style='display:flex;justify-content:flex-start'><div class='yl-icon menu-icon-edit pointer' style='color:#00c1de;cursor:pointer' onclick='edittarget(\""+full.rownum+"\");'></div><div class='yl-icon menu-icon-delete pointer' style='color:#ff0000;cursor:pointer' onclick='deltarget(\""+full.addressid+"\","+full.targetid+");'></div></div>";
	}}];
	var paramcloumn=[{data:"rownum"},{data:"parametername"},{data:"staticbind"},{data:"dynamicbind"} ,{data:"operation","render": function ( data, type, full, meta ){
		return "<div style='display:flex;justify-content:flex-start'><div class='yl-icon menu-icon-edit pointer' style='color:#00c1de;cursor:pointer'  onclick='editparameter(\""+full.rownum+"\");'></div><div class='yl-icon menu-icon-delete pointer' style='color:#ff0000;cursor:pointer' onclick='delparameter(\""+full.addressid+"\","+full.parameterid+");'></div></div>";
	}}];
 var targetdata=null;
 var parameterdata=null;
 function init(){
	 DataRoomService.loginPage=/*[[#{system.loginpage}]]*/; 
	 DataRoomService.baseurl=/*[[@{/}]]*/;
	DataRoomComm.baseurl=/*[[@{/}]]*/;
	 $("#leftPanel").addresstree({checkbox:true,onSelect:addresstreeselect});
	// showRoomData(testdata);

	initgrid("targetgrid",targetoption,targetcloumn);
 
	 initgrid("paramgrid",parmoption,paramcloumn);
 

}
 var addressid=null;
 var addressname=null;
function  addresstreeselect(node){
	addressid=node.id;
	addressname=node.text;
	$("#lb_target_title").html("【"+addressname+"】指标管理");
	$("#lb_paramter_title").html("【"+addressname+"】参数管理");
	console.log(addressname);
	refreshdata();
}
function refreshdata(){
	QueryAddressTargetSetList();
	QueryAddressParameterSetList();
}
function QueryAddressTargetSetList(){
	DataRoomService.callDataRoomService("EnergySetService","QueryAddressTargetSet",{addressid:addressid},  refreshQueryAddressTargetSet,this,true);

}
function refreshQueryAddressTargetSet(data,callobj){
	showgriddata("targetgrid",data,targetcloumn);	
}
function QueryAddressParameterSetList(){
	DataRoomService.callDataRoomService("EnergySetService","QueryAddressParamSet",{addressid:addressid},  refreshQueryAddressParameterSet,this,true);

}
function refreshQueryAddressParameterSet(data,callobj){
	showgriddata("paramgrid",data,targetcloumn);	
}
 function initgrid(gridid,option,columns){
 option.columns=columns;
var grid=$("#"+gridid).dataTable(option); 
 }
 function showgriddata(gridid,data,columns){
	 var grid=$("#"+gridid);
		var datatable=grid.dataTable();
		datatable.fnClearTable();
		for(var i=1;i<=data.length;i++){
			data[i-1]["rownum"]=i;
			for(var j=0;j<columns.length;j++){
				if(data[i-1][columns[j].data]==undefined){
					data[i-1][columns[j].data]="";
				}
			}
	 
		}
		if(data.length>0){
			datatable.fnAddData(data,true);
			}
		if(gridid=="targetgrid"){
			targetdata=data;
		}else{
			parameterdata=data;
		}
 }
 function addTarget(){
	 DataRoomComm.showPopUpWindow("energy/target_add.html","新增指标",{width:450,height:435,addressid:addressid,addressname:addressname},function(){
		 refreshdata();
	 });
 }
 function edittarget(rownum){
	 var parm=targetdata[rownum-1];
	 parm.width=450;
	 parm.height=435;
	 parm.addressname=addressname
 DataRoomComm.showPopUpWindow("energy/target_add.html","修改指标",parm,function(){
	 refreshdata(); 
	 }); 
 }
 function deltarget(addressid,targetid){
	 var r=confirm("确认要删除选中的指标吗？");
	 if(r){
		DataRoomService.callDataRoomService("EnergySetService","DelAddressTargetSet",{addressid:addressid,targetid:targetid},  showDelResult,this,true);
	 }
 }
 function showDelResult(data,callobj){
	 if(data.result=="ok"){
		 refreshdata();  
	 }else{
		 alert(data.result);
	 }
 }
 function addParam(){
	 DataRoomComm.showPopUpWindow("energy/param_add.html","新增参数",{width:470,height:550,addressid:addressid,addressname:addressname},function(){
		 refreshdata(); 
	 });
 }
 function editparameter(rownum){
	 var parm=parameterdata[rownum-1];
	 parm.width=470;
	 parm.height=550;
	 parm.addressname=addressname
 DataRoomComm.showPopUpWindow("energy/param_add.html","修改参数",parm,function(){
	 refreshdata(); 
	 }); 
 }
 function delparameter(addressid,parameterid){
	 var r=confirm("确认要删除选中的参数吗？");
	 if(r){
		DataRoomService.callDataRoomService("EnergySetService","DelAddressParamSet",{addressid:addressid,parameterid:parameterid},  showDelResult,this,true);
	 }
 }
/*]]>*/
</script>
</head>
<body  onload="init();">
<img id="progressImgage" class="ajaxprogress" style="display:none" alt="" th:src="@{/images/ajax-loader.gif}"/> 
<div id="maskOfProgressImage" class="ajaxmask" style="display:none"></div> 
<div id="app" class="app-margin"  >
<div style="background-color:white">
  <!-- 标题栏 -->
   
<div   class="yl-header"><div   class="top-line">
<div   class="top-left">
<div   class="headline"></div>
 <div   class="headspan">指标管理</div>
 </div> <div   class="yl-button-group" style="width: 500px;"></div>
 </div>
 </div>
 
    <div class="modify-divider"></div>
<div   style="padding: 10px 20px; min-height: calc(100vh - 122px); display: -ms-flexbox;    display: flex;    background-color: #fff;    margin-top: 10px;">

<div id="leftPanel"  class="location-block" style="  width: 330px; background-color: #f8f8f8; ">
<!-- <div  class="NormalTitle" style=" height:33px">位置信息</div>
<div id="RoomTree" style="overflow:auto;left:1px;right:1px;min-height:50vh"></div> -->
</div>
<div   id="contentPanel"   style="width:calc(100% - 330px); padding: 0px 0px 50px 20px;">
<div>
<div   >
<div   style="display: -ms-flexbox;    display: flex;    -ms-flex-pack: justify;    justify-content: space-between;">
<span  style="height: 34px;    line-height: 34px; font-weight: 700;" id="lb_target_title">指标管理</span>
 
                <button class="yl-btn pointer blue"  onclick="addTarget();"  >新增指标 </button>
       
            </div>
             
    <div style="height:10px;"></div>        
 <table id="targetgrid" class='table table-striped table-hover table-bordered table-condensed' style='table-layout:fixed;margin:0px;width:100%;min-width:640px;background-color:#ffffff;border-bottom-color:grey;border-bottom-size:10px' >
  <thead>
 <tr style="background-color:#f0f0f0;color:#000000">
 <th width="40px">序号</th>
 <th width="80px">指标名称</th>
 <th width="80px">描述</th>
 <th width="50px">设计值</th>
 <th width="50px">目标值</th>
<th >计算公式</th>
<th width="60px">操作</th>
 </tr>
  </thead>
 </table>
 </div>
 
    <div style="height:20px;"></div>  
 <div   >
 <div    style="display: -ms-flexbox;    display: flex;    -ms-flex-pack: justify;    justify-content: space-between;">
<span style="height: 34px;    line-height: 34px; font-weight: 700;" id="lb_paramter_title">参数管理</span>
 <button class="yl-btn pointer blue"   onclick="addParam();"  >新增参数 </button>
     </div>
            <div style="height:10px;"></div>      
   
 <table id="paramgrid" class='table table-striped table-hover table-bordered table-condensed' style='table-layout:fixed;margin:0px;width:100%;min-width:640px;background-color:#ffffff;'     >
 <thead>
 <tr style="background-color:#f0f0f0;color:#000000">
 <th width="40px">序号</th>
 <th width="80px">参数名称</th>
 <th>静态数据绑定</th>
 <th>动态数据绑定</th>
 <th width="60px">操作</th>
  </tr>
 </thead>
 
 </table>
</div>
</div>

</div>
</div>
</div>
</div>
 	</body>
</html>